SMU_Mapper/MML_Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="maps">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="lookup">
          <xs:complexType>
            <xs:attribute name="file" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="map">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="1" minOccurs="0" name="src-check">
                <xs:complexType>
                  <xs:attribute name="if" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="attribute">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="value" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="attr">
                  <xs:complexType>
                    <xs:all>
                      <xs:element minOccurs="0" name="copy" />
                      <xs:element minOccurs="1" name="a" type="xs:string" />
                      <xs:element minOccurs="1" name="b" type="xs:string" />
                    </xs:all>
                  </xs:complexType>
                </xs:element>
                <xs:element name="attr-check">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:choice maxOccurs="unbounded">
                        <xs:element name="attribute">
                          <xs:complexType>
                            <xs:attribute name="name" type="xs:string" use="required" />
                            <xs:attribute name="value" type="xs:string" use="required" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="attr">
                          <xs:complexType>
                            <xs:all>
                                <xs:element minOccurs="0" name="copy" />
                                <xs:element minOccurs="1" name="a" type="xs:string" />
                                <xs:element minOccurs="1" name="b" type="xs:string" />
                            </xs:all>
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="if" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="a" type="xs:string" use="required" />
            <xs:attribute name="b" type="xs:string" use="required" />
            <xs:attribute name="map-class" type="xs:string" use="optional" default="no" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>